<?php
return array(
    'db' => array(
        'username' => 'shopware',
        'password' => 'shopware',
        'dbname' => 'papercuts',
        'host' => 'mysql',
        'port' => '3306'
    )
);